<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="cat" class="Animal">
              <property name="animal">
                     <bean id="cat" class="Cat"/>
              </property>
       </bean>

       <bean id="lion" class="Animal">
              <property name="animal">
                     <bean id="Lion" class="Lion"/>
              </property>
       </bean>

       <bean id="animals" class="Animal">
              <property name="animals">
                     <list>
                            <bean class="Lion" />
                            <bean class="Cat" />
                            <bean class="Dog" />
                            <bean class="Giraffe" />
                     </list>
              </property>
       </bean>
</beans>

